[2017-09-19 20:08] shalako commented on #192
In general, the status code logged in access logs is the one returned to the client. Since the client closed the connection it seems appropriate to log a 499.

[2017-10-02 10:41] giner opened #193 "Broken x_forwarded_for in access logs"
## Issue

If a request contains "Connection: close" then x_forwarded_for is not logged correctly.

## Context

cf-release 254

## Steps to Reproduce

Run the following command for an existent route:
[code]
And check application logs.

## Expected result

x_forwarded_for should have all IPs joined with commas
[code]

## Current result

x_forwarded_proto contains only IPs from the first header X-For

[2017-10-02 11:34] CAFxX commented on #193
http://www.w3.org/Protocols/rfc2616/rfc2616-sec4.html#sec4.2

[2017-10-02 18:57] shalako commented on #193
Prioritized for eng review. @giner are you able to send us a PR?

[2017-10-03 08:18] giner commented on #193
Hi @shalako, if I'm getting it right the issue is here https://github.com/golang/go/commit/3c0f69a52101c69b5a8288195fa74c7ecfa2fa43. X-Forwarded-For brakes if the initial request contains any of [hop by  hop headers](https://github.com/golang/go/blob/3c0f69a52101c69b5a8288195fa74c7ecfa2fa43/src/net/http/httputil/reverseproxy.go#L129-L139).

[2017-10-05 16:03] aaronshurley commented on #189
This feature was shipped with v0.163.0:  https://github.com/cloudfoundry-incubator/routing-release/releases/tag/0.163.0

Closing this issue. Please let us know if you have any further concerns.

[2017-10-05 16:03] #189 closed

[2017-10-09 17:09] charleshansen commented on #193
We have started upgrading gorouter to 1.9. The issue does appear to be fixed.

[2017-10-11 17:02] takeyourhatoff commented on #190
gorouter already enables session resumption. Go enables it by default. The session ticket key is randomly generated on application startup and not rotated. As @CAFxX mentioned. This defeats PFS to some degree.

Although gorouter technically supports session resumption, in practice it is broken when multiple gorouter instances are used because they do not share ticket keys. A client reconnecting wi

[2017-10-11 21:41] charleshansen commented on #192
In the most recent routing-release, we were unable to recreate the 502 behavior. The access logs will log the status code returned to the client (200 in this case).  Is it still worth it to change the behavior to make it a 499?

[2017-10-11 23:09] giner commented on #192
Probably it isn't. Let me try to find when the behavior of gorouter changed.

[2017-10-12 10:23] giner commented on #192
It is reproducible with routing-release 0.163.0
[code]

[code]

Here is the code I used for testing:
[code]

[2017-10-13 21:49] flawedmatrix commented on #192
The code you used for testing seems to describe a different scenario from what was described in the original issue.

What we used for testing was something along the lines of
[code]
which would return a 200 to the client first, and then slowly return the body, whereas

[code]
would wait 5 seconds before sending a 200 to the client and then a subsequent body.

If the client connection is closed bef

[2017-10-13 22:34] charleshansen commented on #192
We looked into this a little bit, I'm pretty sure we can easily detect this case and log a 499 instead of 502. One minor caveat is that you cannot cancel requests through the gcp or aws load balancers. Cloud Foundries with those load balancers will always log status code 200 in that case because the request is not actually cancelled.

[2017-10-15 04:34] giner commented on #192
@flawedmatrix, you are right. I tried to reproduce the original issue with routing-release 0.147.0 and was unable to do it. I suppose our original understanding was not entirely correct and the problem happens only when client goes away without receiving a header.

[2017-10-20 04:27] shalako commented on #193
After upgrading to golang 1.9, it appears the issue is resolved.

on gorouter
[code]

from workstation
[code]

[2017-10-20 04:28] shalako commented on #193
Fixed in 0.165.0

[2017-10-20 04:28] #193 closed

[2017-10-20 14:39] enocom opened #195 "Support HTTP/2"
As pointed out in the [README](https://github.com/cloudfoundry/gorouter#http2-support), Gorouter does not support HTTP/2.

This means as a CF app developer, I am unable to leverage the significant benefits of the new protocol version. Likewise, any CF component whose communication paths pass through the Gorouter may not benefit from HTTP/2 either. By Gorouter not supporting HTTP/2, for example, bo

[2017-10-30 19:39] shubhaat commented on #192
@giner We have validated that the change is working as expected on Release Candidate. It will be included in the next final release of routing-release (0.166.0).

[code]

[code]

[2017-10-30 19:40] #192 closed

[2017-11-09 03:16] shalako commented on #185
@CAFxX What do you mean by "middle boxes"?

[2017-11-09 06:21] CAFxX commented on #185
@shalako network equipment that tracks TCP connections (e.g. firewalls)

[2017-11-10 12:50] CAFxX opened #197 "Instance routing should include in responses max(instance_idx)"
Thanks for submitting an issue to `gorouter`. We are always trying to improve! To help us, please fill out the following template.

## Issue

When using [app instance routing](https://docs.cloudfoundry.org/concepts/http-routing.html#app-instance-routing), I would like to see in the response headers the biggest instance_idx currently in the routing table, something like:

[code]
to signify e.g. tha

[2017-11-10 20:54] shalako commented on #197
Seems reasonable. Would you send us a PR?

[2017-11-13 04:24] CAFxX commented on #197
@shalako sent an initial PR, any feedback is welcome... as soon as the implementation is agreed upon, I will add some more internal tests and run the ATs

[2017-11-13 10:29] RomRider opened #199 "Health check not possible from GCP LB when http is disabled"
## Issue

When you disable HTTP on the gorouters and use a GCP LB in front of it, you can't use the health checks because when you use HTTPS backends on GCP, you can only do HTTPS health checks.

## Context

* GCP load balancers
* http disabled on gorouters backends

## Steps to Reproduce

1. Deploy CF, with http disabled on go routers
1. Configure your GCP load balancer with the gorouter as backe

[2017-11-13 15:01] TimMurnaghan opened #200 "websocket should stream rather than copy whole message"
## Issue

Gorouter is slow when handling large payloads in websocket messages

## Context

[provide more detailed introduction]

## Steps to Reproduce

Send a large (20-30MB) payload in a websocket message.

## Expected result

Message should be streamed to the app with minimal work on the router.

## Current result

Long delay between sending the message and it arriving at the application. Timeou

[2017-11-14 16:42] varun7447 commented on #26
Is this support added to the CLI? Can i pass the sticky session using `-s <<COOKIE NAME>>`?

[2017-11-16 03:12] shalako commented on #26
No, this was never implemented.

However, sticky sessions are still supported. See our docs here: http://docs.cloudfoundry.org/concepts/http-routing.html#sessions

[2017-11-16 03:48] varun7447 commented on #26
I have custom cookie (Test.cookie). Can I create JSESSIONID with the Test.cookie?

[2017-11-20 10:03] CAFxX commented on #195
gRPC support is one of the most commonly requested features even from our customers. Sure, they can use TCP routing but then they lose a whole lot of the gorouter out-of-the-box experience (path/hostname routing, logging, TLS termination, ...)

[2017-11-27 03:48] varun7447 commented on #26
Looks like I was able to create one. Is the cookie always have to be named as JSESSIONID? Can I name the cookie name as APP.COOKIE.YES?

[2017-11-27 14:18] jasonkeene commented on #195
Also, from what I understand, TCP routing is not enabled on all CF installations. That means CF components (such as loggregator) that need to work in every environment can not rely on TCP routing.

[2017-11-28 18:29] amhuber opened #201 "Need option to ignore provided value for X-Forwarded-Proto"
## Issue

When using gorouter to terminate TLS we depend on gorouter to add the X-Forwarded-Proto header as either "http" or "https" depending on the protocol used to reach the router.  This is working correctly, but if X-Forwarded-Proto is already set, gorouter does nothing and allows the provided value to pass through.  This allows the client to spoof the X-Forwarded-Proto header by providing a

[2017-12-01 19:04] shalako commented on #201
The requested behaviors could be accomplished with the addition of a new property `router.sanitize_forwarded_proto` which, when enabled, will cause gorouter to strip the proto header from client requests and set the header in requests to the backend based on whether the client request was http or https. Please let us know if the following interactions sound right.

[code]

[code]

[code]

[2017-12-01 19:43] amhuber commented on #201
Yes, that will work perfectly.

For reference, this became an issue after transitioning to gorouter for TLS termination instead of HAProxy.  When we used to use HAProxy for termination, it was configured to strip the header before re-adding it, so this wasn't a problem.  After removing HAProxy, gorouter is subject to spoofing.

[2017-12-12 00:41] charleshansen commented on #200
@TimMurnaghan

Until you posted this, I thought GoRouter did stream messages on websockets. The relevant bit is a single line of code for us https://github.com/cloudfoundry/gorouter/blob/8128246bd730c55034bbb0fb855f20b7d0275a51/proxy/handler/request_handler.go#L234

I can look into this a bit more, but I'm not sure if we have any feasible options to improve the streaming. Do you have any suggestio

[2017-12-13 22:12] enocom opened #202 "Extra line for all log lines"
Thanks for submitting an issue to `gorouter`. We are always trying to improve! To help us, please fill out the following template.

## Issue

When running `cf logs`, I see an extra log for every router log:

[code]

## Context

This is against PWS.

## Steps to Reproduce

Just run `cf logs` on any running app.

## Expected result

The unnecessary log line shouldn't be there.

/cc @bradylove

[2017-12-14 06:52] CAFxX commented on #202
We see the same behaviour on our local CFs (we're currently on 262)

[2017-12-21 07:34] CAFxX opened #203 "Route services can't authenticate that a request is a "route service request" from gorouter"
Thanks for submitting an issue to `gorouter`. We are always trying to improve! To help us, please fill out the following template.

## Issue

Route services currently have no general way to authenticate that a request indeed comes from gorouter, and that it is being sent to it with route services duties.

Additionally, the route services responsibilities page does not list any specific requirement

[2017-12-27 16:27] achawki opened #204 "Steady memory increase"
## Issue

We experience a steady memory increase of our gorouters over time. This seems currently not cause an issue. When the routers gets restarted it takes multiple days until the memory consumption is > 50%.

![router_memory_usage](https://user-images.githubusercontent.com/16102838/34385653-8765ff9c-eb24-11e7-89a5-3b358aac94af.png)

## Context

We are using gorouter within `cf-deployment` ( v1

[2017-12-27 17:42] jcheenatcode commented on #195
Now since node 8 is out, which has support for HTTP/2. We were planning to use it on our CF installations. This has a lot of good features that could be utilized for better UI experiences. Has this been considered as part of development for future quarters?

[2017-12-28 21:31] jim80net commented on #180
Bump

[2018-01-04 17:50] jasonkeene commented on #195
It should be. CF should allow apps to use h2 without resorting to TCP routing.

[2018-01-05 05:09] XuejiaoZhang commented on #157
Hi @dsyer & @shalako
Sorry to disturb you. I'd like to ask a question related to the Zipkin Tracing logs.

After I enabled Zipkin feature by setting "enable_zipkin: true", I run
`curl xxxxx/hi -H "X-B3-TraceId: 6e97e1ffea683c88" -H "X-B3-SpanId: 6e97e1ffea683c88"`
The gorouter log shows "... x_b3_traceid:"6e97e1ffea683c88" x_b3_spanid:"6e97e1ffea683c88" x_b3_parentspanid:"-" ...".

I'm wondering w

[2018-01-08 14:55] amhuber commented on #201
Any ETA on getting this implemented?

[2018-01-08 18:18] shubhaat commented on #201
@amhuber - thanks for pinging. We don't have an ETA on this yet, but I am going to prioritize it to the top of our backlog and keep you updated when this is in development and when it is released.

[2018-01-09 14:19] clncln1 commented on #195
We are also waiting for this. Shouldn't that be fairly easy to implement since >= go 1.6 supports h2 transparently out of the box? Even without gRPC or content pushing, just enabling h2 to allow multiplexing would be great

[2018-01-11 23:41] kitemongerer commented on #195
Any news on this issue? We are blocked on developing features for our application since we cannot use loggregator's new grpc client.

[2018-01-14 12:51] talmanor2 opened #205 "Plugin for Gorouter"
Hi,
I develop a plugin for goRouter and I would like to know if is it possible to implement the plugin as part of the GoRouter?

Thanks.

[2018-01-15 19:42] rosenhouse commented on #205
Hi @talmanor2 What kind of plugin do you want to develop?

Gorouter does not have a plugin model, although Cloud Foundry routing has some extension mechanisms.  Depending on your use case, you may be able to accomplish what you want with a [route service](https://docs.cloudfoundry.org/services/route-services.html).  You can also modify gorouter source code and deploy it using a custom [routing rel

[2018-01-16 07:31] talmanor2 commented on #205
Hi,
Unfortunately route service is not good enough because of the following reasons:
1. It is supports only one route.
2. Performance issues, you don't really want to route all your customers request using route service to some statistics servers/app.
About the option to modify gorouter source code, is my last resort.

[2018-01-16 15:38] rosenhouse commented on #205
@talmanor2 We are currently considering replacing Gorouter with a 3rd party proxy, such as [Envoy](https://www.envoyproxy.io).  While this work will not be complete for some time, if you are able to share your use case, we could consider it for this future effort.  (Also, we may be able to give you pointers on how to add it to Gorouter today).

[2018-01-17 11:20] pusherofbrooms commented on #204
We are seeing what looks like the same issue with increasing gorouter memory over time. It seems noticeable only on our highest traffic environment. This behavior started a couple of days after our upgrade from cf-release v280 to v283.

[2018-01-18 18:26] routing-ci commented on #195
We have no plans currently to add support for HTTP/2 to gorouter. After an exploration, the engineering team found that it will be an expensive and complicated feature to add.

Currently we are focused on developing an integration with Istio Pilot and Envoy Proxy. Envoy supports HTTP/2 already, and that feature is one of the reasons we are investing in the integration. We cannot provide a timeline

[2018-01-22 01:01] CAFxX commented on #205
@rosenhouse when considering future extensibility, please keep https://github.com/cloudfoundry/gorouter/issues/187#issuecomment-323252400 in mind

[2018-01-22 01:07] rosenhouse commented on #205
@CAFxX good feedback to share with @shalako and @shubhaat.  I don't have a good sense yet for the feasibility of your requested features given our ideas for Envoy & Istio integration.  But [this story](https://www.pivotaltracker.com/story/show/153461982) is at the top of our backlog and we expect that Route Services will get something of a make-over with the Istio/Envoy approach.

[2018-01-25 07:54] abh1kg opened #206 "Route Services are NOT invoked when a bound route is NOT mapped to an application."
Thanks for submitting an issue to `gorouter`. We are always trying to improve! To help us, please fill out the following template.

## Issue
A route service handler is not invoked if the route is not mapped to a Cloud Foundry application.

## Context
While I understand that this was a conscious decision taken earlier, I would like to question this. In essence, a route service works on routes and w

[2018-01-25 22:07] shalako commented on #206
Hello @abh1kg
As you've discovered, Cloud Foundry doesn't support routing of requests to addresses that are not associated with applications.

We do plan to enable this use case, but not in Gorouter. The CF Routing team is currently focussed on integrating Envoy and Istio with Cloud Foundry, and we intend to enable Envoy to know about routes that are not mapped to apps. There is still quite a lot

[2018-02-01 14:50] MarcPaquette commented on #171
I have a customer who is interested in this functionality.

[2018-02-02 04:00] prettyClouds opened #207 "Route does not fail hard when app is down"
If an app is entirely down and a route is mapped to it, the router ignores the app entirely and searches for the next best match.

Reproduction steps:

Deploy app1 and app2.
map abc.com to app1
map abc.com/def to app2
stop app2
curl abc.com/api/def
a request is made to app1

Expectation
I would expect an HTTP status of 500 from the request

Is this fallback strategy intentional? In my particular c

[2018-02-02 17:18] x6j8x opened #208 "gorouter does not check for successful backend websocket upgrade"
## Issue
Our users were experiencing random 404s for otherwise working urls. (see https://cloudfoundry.slack.com/archives/C05586PBX/p1513360375000396) This issue only appeared intermittently.

We believe that the issue is caused because `gorouter` does not check for a successful WebSocket upgrade when connecting to a backend. Leading (in combination with persistent HTTP connections) to a tunnel wh

[2018-02-02 18:09] shubhaat commented on #208
(Shannon here)

@zrob @ahevenor

What do you make of this? I don't know why Trafficcontroller calls out to CC when Gorouter routes a websocket request it, but it seems to me Trafficcontroller shouldn't be passing HTTP responses it receives from CC back through to the client. If Trafficcontroller has some dependency on CC, either it should not accept the websocket connection from Gorouter if it can

[2018-02-02 18:21] shubhaat commented on #207
This is expected behavior.

Whether app2 is up or down, we would expect a request for `abc.com/api/def` to be routed to app1 because the route `abc.com` will match any context path; think of this route as `abc.com/*`. The route `abc.com/def`, will only match requests to `abc.com/def` and `abc.com/def/*`. So a request to `abc.com/api/def` will match the route `abc.com/*`, not `abc.com/def`.

See ht

[2018-02-02 18:21] x6j8x commented on #208
@shalako Whether or not Loggregator is doing the right thing here, I think gorouter should make sure that no WebSocket backend can basically "hijack" traffic by "misbehaving".

[2018-02-02 20:51] shalako commented on #208
Sascha, in your testing have you found that Loggregator does accept the
websocket connection? If not, that could be something we can remedy. If so,
how should gorouter recognize "misbehaving"? Once a TCP connection is
established, gorouter should not be aware of anything above L4, right?

Shannon Coen
Product Manager, Cloud Foundry
Pivotal, Inc.

On Fri, Feb 2, 2018 at 10:21 AM, Sascha Matzke <not

[2018-02-03 06:18] x6j8x commented on #208
Loggregator accepts the TCP connection but never successfully completes the WebSocket Handshake (by returning a HTTP 101 Switching Protocols response).

I‘ve put misbehaving in quotes because this is actually 100% valid behavior. If a resource doesn‘t exist the backend must answer with a 404, because before the WebSocket handshake is complete, we‘re still in plain HTTP territory.

Goroute must not

[2018-02-04 16:58] prettyClouds commented on #207
sorry i had typo in the description of the problem.  i meant to say map `abc.com/api/def` to app2. I expected some 50x status but instead when app2 was down, but received a 200 from app1 because it was a front-end app with push-state enabled. looks like that behavior will be changing 👍 i am happy to close this if there is already a story or issue tracking this.  I do think the case where the 'fall

[2018-02-06 15:50] Khoulaiz commented on #208
@shalako I think the RFC 6455 is very clear in this:

   handshake.  The first line is an HTTP Status-Line, with the status
   code 101:

   has not completed and that the semantics of HTTP still apply.  The
   headers follow the status code.

According to the last paragraph, gorouter is clearly **not** in TCP area until it sees an server acknowledgement. Since this acknowledgement never reaches g

[2018-02-08 15:23] TimMurnaghan commented on #200
@charleshansen Sorry for slow response - not monitoring here. And no - I suspect that the answer is some bigger refactoring/new apis  down in the go runtime. It probably should be a single line from the router's point of view.
On the question of CopyBuffer - the router's performance is actually awful on large messages generally (same copying behaviour on http as well). You're relying on go to do t

[2018-02-09 03:52] #208 closed

[2018-02-09 08:33] nouseforaname commented on #200
If too much off topic, please ignore..

@TimMurnaghan at the CF Summit in Basel a few guys hacked together a replacement for the router. The usecase was actually using https://letsencrypt.org/ on the fly for apps.. but what they did was replace the router with https://traefik.io/ and use nats route announcements to config traefic on the fly.. I do not see a reason why you would not be able to repl

[2018-02-09 14:58] rosenhouse commented on #200
@nouseforaname you may be interested in [this design doc about replacing Gorouter with Envoy](https://docs.google.com/document/d/1VldkvgWPUh13o5RCNjSvzoPFhbY9BtLqBDdk2k0z9fw/edit).  The effort is in-flight.  You can track our progress towards the first milestone via [this "epic" label in Pivotal Tracker](https://www.pivotaltracker.com/epic/show/3747424).

[2018-02-12 07:33] evasanthan commented on #26
I just wanted to understand about queries on JSESSIONID. What i understood was, the usage of HTTPSession is an anti pattern for Cloud migration as sessions are ephemeral in the Cloud environment. By default, JSESSION ID from Servlet, converts to the HTTPSession as a background process.  Incase If any application uses JSESSION ID, Are you saying that JSESSION ID is not an anti pattern for Cloud mig

[2018-02-22 19:40] univ0298 opened #209 "Keep Alive connections prematurely terminated by backend timeout code"
## Issue

Keep alive connections are being closed because the backend timeout limit is not paying attention to whether a keep alive connection is alive because of ongoing re-use, or alive because of a long duration connection to a backend.

## Context

Keep alive will allow a connection to stay alive indefinitely, as long as it's used once every 90 seconds.
However another feature, backend timeout

[2018-02-23 01:01] shalako commented on #209
Prioritized for engineering.

[2018-02-26 23:16] amhuber commented on #201
According to the user story it looks like this is held up due to some interaction with routing services.  Once again, given the security implications of this enabling MITM attacks, I'm concerns that this isn't being addressed more urgently.  Any update on getting this fix added into the release?

[2018-03-02 01:16] shalako commented on #209
Had a chat about this with Max and asked if IBM would contribute a PR for the fix, as the CF Routing team is heavily focused on the Istio integration. I recommended grabbing @aaronshurley in the CF Slack #routing channel and coordinating a chat about how this might be solved.

[2018-03-02 10:20] samzilverberg opened #210 "development on mac: error reading file descriptor from /proc"
## Issue

https://github.com/cloudfoundry/gorouter/blob/master/main.go#L116
## Context

https://github.com/cloudfoundry/gorouter/blob/master/main.go#L178-L182

starting gorouter calls initializeFDMonitor function that tries to monitor a file under /proc.
but mac doesnt have this folder, more details here:
https://superuser.com/questions/631693/where-is-the-proc-folder-on-mac-os-x

[provide more de

[2018-03-06 22:58] shubhaat commented on #201
@amhuber - we are still planning to work on this and it is currently top of our backlog. We wanted to tackle all issues that are impacted by route services in a way that is comprehensive and design a solution that works across usecases for route services. We now have a way forward there. That said, fixed a security vulnerability that had higher priority than this issue in the last few weeks and is

[2018-03-12 22:13] rosenhouse commented on #201
I have picked up this work.  We will keep this issue updated as we make progress.

[2018-03-12 22:17] amhuber commented on #201
Awesome, thanks for the update.

[2018-03-14 00:04] rosenhouse commented on #201
I'm sorry to say that we've set this back down, as PMs have prioritized other work above it.
cc @shalako and @shubhaat

[2018-03-14 00:52] shubhaat commented on #176
Closing this, as Gorouter supports mTLS with backends. The Envoy run in containers does not yet request a client cert, but Gorouter can be configured to provide one using properties `router.backends.cert_chain` and `router.backends.private_key`.

@emalm, PM for Diego, is gathering evidence in support of configuring the Envoy to request/require a client cert from Gorouter. Issues can be added or tr

[2018-03-14 00:52] #176 closed

[2018-03-14 00:59] shubhaat commented on #206
Closing this issue since we don't plan to support it in Gorouter but definitely want to support it in the new Istio based routing subsystem. The proposal is here: https://docs.google.com/document/d/1LgLY0g39fzpg1_4zTckbH1mOuuSKGvYwp2tkakoe9ys/edit

[2018-03-14 00:59] #206 closed

[2018-03-14 01:03] shubhaat commented on #207
Closing this issue since we don't plan to support it in Gorouter but definitely want to support it in the new Istio based routing subsystem. The proposal is here: https://docs.google.com/document/d/1LgLY0g39fzpg1_4zTckbH1mOuuSKGvYwp2tkakoe9ys/edit

[2018-03-14 01:03] #207 closed

[2018-03-14 01:13] shubhaat commented on #89
We don't plan to add support for this use case to gorouter, but we are considering alternatives to the sticky session use case in the Istio-based replacement subsystem we are working on now: https://docs.google.com/document/d/1LgLY0g39fzpg1_4zTckbH1mOuuSKGvYwp2tkakoe9ys/edit

As you'll find in the section titled "Features Subject to Change", we would like to enable an app developer to configure th

[2018-03-14 01:13] #89 closed

[2018-03-14 05:25] youngm commented on #153
I wish I had time for this but I don't and with the move to istio this would be fruitless.  I'll close for now.  Sorry for consuming your time considering it only to not contribute anything.  Thanks!

[2018-03-14 05:25] #153 closed

[2018-03-15 22:57] shubhaat commented on #195
Closing this issue, we will keep the community updated via cf-dev as we build out the new routing subsystem. Proposal can be found here https://docs.google.com/document/d/1LgLY0g39fzpg1_4zTckbH1mOuuSKGvYwp2tkakoe9ys/edit

[2018-03-15 22:57] #195 closed

[2018-03-15 23:29] shubhaat commented on #187
Today route services can't be used for some use cases because they only work for routes mapped to running apps, but in our Istio-based routing subsystem we'll support routes (and associated routing rules/services) without apps.

As we don't plan on adding support for plugins or modifying the route services architecture for Gorouter, we'll capture your use cases for use with the Istio-based subsyst

[2018-03-15 23:29] #187 closed

[2018-03-15 23:34] shubhaat commented on #205
@talmanor2 could you give us more details on your usecase

- what do you hope to use your intermediary component or plugin for.
- what scope do you want to use the plugin, for e.g. do you want it to be global or do you want it to apply to requests for routes in a space/org/domain?
- who do you imagine having access to make these changes, is it operators or app developers or some other persona?

[2018-03-15 23:41] shubhaat commented on #204
We have not investigated this, but would be interested to know if you are still seeing this issue?

[2018-03-16 08:44] achawki commented on #204
No, at one day the high memory usage just stopped suddenly without any changes to the landscape (the number of requests stayed steady). We couldn't find out the root cause.
Since then the issue didn't occur again.

[2018-03-16 19:44] shalako commented on #204
That's great to hear. We'll close this issue then.

[2018-03-16 19:44] #204 closed

[2018-03-16 22:34] shubhaat commented on #155
Closing this issue for now since it's been open for a year with no activity. We have since launched service discovery for C2C communication using BOSH DNS documented here: https://docs.cloudfoundry.org/devguide/deploy-apps/cf-networking.html#discovery for the use case appA [BOSH DNS for service discovery] --> appB. For details on this you could ask the cf-networking-release team here: https://gith

[2018-03-16 22:34] #155 closed

[2018-03-23 08:32] samzilverberg commented on #210
i was able to continue developing on mac by changing source code to NOT instantiate the file descriptor monitor.
but this is a very hacky solution...

[2018-03-23 08:43] samzilverberg opened #212 "gorouter closing connection to client before writing the whole response body"
## the issue:

- client side has an open upstream
- server reads part of the upstream body and determines it doesnt want to continue
- server responds with response with a non-smallish body (example 20k-50k chars) and a connection:close header.
- server closes the conn from its side AFTER finishing writing the full responds body
- client upstream is still in progress
- THE BUG: gorouter throws som

[2018-03-23 14:54] rosenhouse commented on #212
Looks a lot like https://github.com/cloudfoundry/routing-release/issues/98.  I'm going to go close that one in favor of this.

---

I'll admit I don't know what the right behavior is here.  Must we guarantee that the complete server response is sent before closing the client connection?

It would be helpful if we could see a relevant HTTP RFC or documented behavior of other HTTP reverse proxies, s

[2018-03-23 18:49] thausler786 commented on #212
@rosenhouse I notice that you closed this issue in favor of cloudfoundry/routing-release#98..  However, you also closed that issue in favor of this one.  This was probably a mistake?

We also encountered this problem, with the same symptom of the app's HTTP response being truncated at about 2MB. Specifically:

- When the app is `curl`ed from outside the router -- from our local workstation, for ex

[2018-03-23 19:03] rosenhouse commented on #212
@thausler786 is your server closing the connection before the client body is fully uploaded?  I hadn't seen that in your previous bug report.

[2018-03-26 15:36] samzilverberg commented on #212
@rosenhouse i took a look at http rfc's (both old one 2616 and new one 7230) and it was very hard to find a clear answer to this question.

https://tools.ietf.org/html/rfc7230 was more useful.

reverse proxies are refered to as "gateway" and are said they should behave exactly like an "origin server" (that is, the "target" server of the original request).

later on in 6.3 Persistence it says

   t

[2018-03-28 00:24] shubhaat commented on #202
I was able to reproduce this issue on the latest routing release candidate. The routing team is currently working on replacing the current routing subsystem with a Istio/Envoy based routing subsystem, so we will not be fixing this issue for now. Keeping it open for future reference.

[2018-03-28 00:50] shubhaat commented on #188
Closing due to inactivity.

[2018-03-28 00:50] #188 closed

[2018-03-28 01:01] shubhaat commented on #170
@cholick - we already have a story on our backlog (https://www.pivotaltracker.com/n/projects/1358110) to address #201 . We think this will also resolve the issue you bring up on getting the scheme for a request through the X-Forwarded-Proto header.

[2018-03-29 00:07] Nino-K commented on #210
Having a flag to disable the `fdMonitor` based of the runtime seems like a reasonable approach, however this requires a bigger team discussion to see if the plan is to support darwin at all. We will mark this as requires team discussion.

[2018-03-31 00:35] shalako commented on #209
Closing as this was fixed with merging #211.
We'll cut a routing-release next week with the change, and it will be included in the next cf-deployment after that.

[2018-03-31 00:35] #209 closed

[2018-04-04 00:29] shubhaat commented on #190
@johnpfield Could you take a look at this and let us know if you'd recommend either of the options @takeyourhatoff suggests? Thank you.

[2018-04-04 00:41] shubhaat commented on #171
As part of our focus on replacing existing CF routing subsystems with Istio and Envoy, we will return a different status code for the two use cases you mentioned:
- route is not mapped to an app, or does not exist -> 404
- route mapped to an app but app is stopped or crashing -> 50x

Will this be a help to you, or do you also need the ability to configure the edge router to send requests that meet

[2018-04-04 00:49] shubhaat commented on #179
We are currently working on replacing the current routing subsystem with Istio/Envoy, read more [here](https://docs.google.com/document/d/1LgLY0g39fzpg1_4zTckbH1mOuuSKGvYwp2tkakoe9ys/edit). Envoy handling of the XFF header is described [here](https://docs.google.com/document/d/1LgLY0g39fzpg1_4zTckbH1mOuuSKGvYwp2tkakoe9ys/edit). Does this address your concerns?

[2018-04-04 00:56] shubhaat commented on #180
We are currently working on replacing the current routing subsystem with Istio/Envoy, read more [here](https://docs.google.com/document/d/1LgLY0g39fzpg1_4zTckbH1mOuuSKGvYwp2tkakoe9ys/edit#heading=h.tj1oxhcb47cj). The metrics emitted by Envoy for each application (Envoy calls these clusters) are documented [here](https://www.envoyproxy.io/docs/envoy/latest/configuration/cluster_manager/cluster_stat

[2018-04-04 01:29] zlav commented on #212
Related information that might be helpful
https://github.com/golang/go/issues/11745#issuecomment-123555313

[2018-04-04 09:28] jtwaleson commented on #171
@shubhaat good to see there are going to be some changes here!

Although adding 50x is a good step, I don't yet see how differentiation between 404 and 50x solves the issue of branded error pages, so I think the request still stands.

Are custom error pages expected to be implemented in the edge router (so not the CF go-routers)? In that case, the edge router needs to be able to distinguish betwee

[2018-04-07 15:58] takeyourhatoff commented on #190
I didn't know BOSH when my previous comment was written. Now I understand the ecosystem much more. My suggestion is now to use a static session ticket key NOT derived from the TLS key (BOSH/credhub makes secret management easy). If I get some spare time I'll submit a PR for this.

[2018-04-12 00:31] shubhaat commented on #201
This has been fixed with routing-release 0.175.0.

[2018-04-12 03:14] rosenhouse commented on #201
@shubhaat Can we close it now?

[2018-04-12 04:28] shubhaat commented on #201
@rosenhouse - Sure.
@amhuber - please feel free to let us know when you have had a chance to try it.

[2018-04-12 04:28] #201 closed

[2018-04-12 05:06] amhuber commented on #201
Thanks, I took a quick look at the commits and everything looks good to me.  We'll test this out ASAP but no issue closing the request.  Thanks for getting this in place.

[2018-04-16 10:46] lordcf opened #215 "Getting 400 Bad Request: Failed to validate Route Service Signature if I use 2 instances of go-router"
I am using x509 header forward routing service. This service is working fine if I use one instance of go-router.

When I use 2 instances (for HA) of go-router with ELB & try to hit the app which is binded with above routing service after some time I am getting following error:
**400 Bad Request: Failed to validate Route Service Signature**

Due to this I am not able to use multiple instances of go

[2018-04-16 22:18] shubhaat commented on #215
@lordcf - were you able to look at the Gorouter logs at `/var/vcap/sys/log/gorouter/access.log` and `/var/vcap/sys/log/gorouter/gorouter.err.log` on both the router VMs to confirm if it is the same router that throws the error.

You also mention that you get the error after sometime, does that mean it works and throws the error periodically?

Regards,
Shubha

[2018-04-17 11:35] lordcf commented on #215
I am running one script which continuously hitting the app. Which giving following output:

683  Universal time: Tue 2018-04-17 10:57:12 UTC ||| Hello World                                                 [31/1866]
683  Universal time: Tue 2018-04-17 10:57:12 UTC ||| 400 Bad Request: Failed to validate Route Service Signature
683  Universal time: Tue 2018-04-17 10:57:12 UTC ||| 400 Bad Request: Fa

[2018-04-17 11:44] lordcf commented on #215
I am running one script which continuously hitting the app. Which giving following output:

683  Universal time: Tue 2018-04-17 10:57:12 UTC ||| Hello World                                                 [31/1866]
683  Universal time: Tue 2018-04-17 10:57:12 UTC ||| 400 Bad Request: Failed to validate Route Service Signature
683  Universal time: Tue 2018-04-17 10:57:12 UTC ||| 400 Bad Request: Fa

[2018-04-19 10:55] lordcf commented on #215
When do it gives "proxy-route-service-timeout" error?

[2018-04-24 15:29] benjefferies opened #216 "Subdomain per space"
As a developer using the cloudfoundry platform it would be really useful to be able to namespace the hostname of apps per space so that we only need one manifest per application and we don't need to add custom routes for every deployment to each space.

An example:
I an app I would like to deploy to two spaces: dev and ci.
The app name in my manifest is: `foobar`
When I deploy my service to the de

[2018-04-24 18:51] shalako commented on #216
Hello @benjefferies
You may be aware that this can be accomplished with a few CLI commands; it just isn't a built-in/automated behavior.

[code]

To make this a built-in behavior would require changes to https://bosh.io/releases/github.com/cloudfoundry/capi-release, not to the gorouter repo.

[2018-05-15 12:06] lordcf commented on #215
@cf-gitbot What should I do please help me.

[2018-05-15 18:39] shubhaat commented on #215
Hi @lordcf,

We have documented timeout behavior here: https://docs.cloudfoundry.org/services/route-services.html#service-instance-responsibilities under Headers>Timeouts. Also look at the explanation for `X-CF-Proxy-Signature` under Headers.

The signature validation errors we are seeing in the logs seem to indicate that the Gorouter is unable to validate the `X-Cf-Proxy-Signature` header. This m

[2018-05-21 23:14] danjahner commented on #201
This issue has been assigned CVE-2018-1193 - https://www.cloudfoundry.org/blog/cve-2018-1193/

[2018-05-28 12:01] lordcf commented on #215
@shubhaat
I checked this. But it's not an issue with one gorouter instance. When I stopped process of gorouter A then gorouter B works fine and not giving any issue. Same when I do vice versa. But when I keen both goruter processes running I am facing the issue.

Please let me know what should I check.

Thanks in advance.

[2018-05-30 07:20] lordcf commented on #215
I got a root cause of this. Actually system time (UTC) was not same of both routers. There was 4 minutes difference between them. Due to which it was giving time out error when I use 2 routers simultaneously. For now I fixed this manually by making system time of one router similar to other one. And it's working fine.

But actually this should not happen. As we give ntp server in bosh-deployments.

[2018-06-07 01:01] shalako commented on #215
Those NTP servers are provided as an example, I believe. You probably should find out what ntp servers you can use on your infrastructure. You mentioned an ELB so I assume you're on AWS. Their NTP server is 169.254.169.123  according to https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/set-time.html

[2018-06-08 22:53] HiteshNembhwani opened #217 "Header values missing after passing through the Go Router"
Thanks for submitting an issue to `gorouter`. We are always trying to improve! To help us, please fill out the following template.

## Issue

Header values are missing after passing through the Go Router (details and the logs in the attached PDF)

*Impacting our customer to Go-Live and we haven't been able to figure a workaround for this one.*

Tried the open source and Pivotal Slack channel and h

[2018-06-08 22:54] HiteshNembhwani commented on #217
@shalako please please help prioritizing this issue, thanks!

[2018-06-09 00:11] shalako commented on #217
OSS Slack thread: https://cloudfoundry.slack.com/archives/C05586PBX/p1527624306000545

[2018-06-09 00:17] shalako commented on #217
We have been unable to reproduce the issue with our own test apps.

Please provide the app you are testing with, and instructions for deploying it, so that we can attempt to reproduce the issue.

[2018-06-14 07:17] xavierW opened #218 "Gorouter - 502 bad gateway error"
Thanks for submitting an issue to `gorouter`. We are always trying to improve! To help us, please fill out the following template.

## Issue

Recently,i have a Java application, this is a batch application, it will continue to send a post request to the server app, but every once in a while, it triggers a 502 event, the batch application has been suspended.

I have about 10,000 urls on my side, an

[2018-06-14 18:34] shubhaat commented on #218
Hi @xavierW,

Are you able to look at the app logs and the gorouter logs at the time you get a 502? It might point to what might be going on.

From the log message you have posted, it looks like the app might be timing out with a i/o request.

Regards,
Shubha

[2018-06-15 02:51] xavierW commented on #218
Hi @shubhaat ,

the app logs:

[code]
It happens every 10 to 15 minutes, and i set the jboss server request timeout 40min.

[2018-06-20 16:59] Nino-K commented on #218
@xavierW can you also check gorouter's `access_logs` at the time when `502` takes place, just wondering if there might me something more interesting in there?

Thanks,
@nhsieh & Nino

[2018-06-29 19:34] sunjayBhatia opened #219 "Return a 404 instead of 502 in proxy request handler when no endpoints are available"
## Issue

[This code](https://github.com/cloudfoundry/gorouter/blob/3bf551bf37e6105ac6c689fd5390d57ec4ea8c55/proxy/handler/request_handler.go#L191-L192) in the proxy request handler causes a `502` status code to be returned when requests to an evacuating app are made between route deregistration on one cell and registration on the new cell.

## Steps to Reproduce

This has caused intermittent flak

[2018-07-11 10:50] jblackman opened #221 "Zipkin tracing no longer sets X-B3-ParentSpanID"
## Issue

Prior to commit fa255ae022323db12782a83bc02d1f3d13411685 the Zipkin middleware set the X-B3-ParentSpanId header variable. In the current code this is no longer the case.

The original code did not have explicit tests for this, which is how it probably slipped through.

## Context

According to the [CF documentation](https://docs.cloudfoundry.org/concepts/http-routing.html#zipkin-headers)

[2018-07-11 18:58] shalako commented on #221
Hello, this change was intentional. Please see https://github.com/cloudfoundry/routing-release/issues/110 for the reasoning.

[2018-07-12 03:59] mohitmehral commented on #179
We have tested in our lab environment.
Our incoming request is coming through WAF (Fortinet). And in this case server received remote_IP address parameter value as same as my own gateways address. Remote Host IP is coming in X-Forwarded-for / X-Real-IP header based parameter which can be spoof very easily through intruder (burp suite tools). In this case header based parameter value are not truste

[2018-07-12 09:09] jblackman commented on #221
It seems a shame to remove useful functionality. So, should the CF documentation be changed to match the current behaviour, then?

[2018-07-12 17:41] shalako commented on #221
Hello @jblackman
I you found the previous behavior useful, please add your comments in cloudfoundry/routing-release#110.

We do intend to fix the documentation.

[2018-07-12 17:51] shalako commented on #179
@mohitmehral
Do I understand correctly that you are using your WAF to drop or modify the `X-Forwarded-For` header and @sorenh suggested?

[2018-07-19 07:50] jblackman commented on #221
Comment added. Many thanks for the update!

[2018-07-19 07:50] #221 closed

[2018-07-19 16:21] zhanggbj opened #222 "Cannot access cf app: 502 Bad Gateway"
## Issue

Cannot access cf app: 502 Bad Gateway. Registered endpoint failed to handle the request.

## Context

I'm running Cloud Foundry on K8s, `cf push app` complete successfully, but when to access the app `curl app.${domain}`, it returns `502 Bad Gateway`. Here are some logs and debug info. Would you please help take a look? Any suggestions. Thanks!

- **app is running**
[code]

- **access.lo

[2018-07-19 16:44] shalako commented on #222
Hello,
We don't test with CF running as containers on K8s so we can't promise that this works.

In general, a 502 indicates that Gorouter knows about about the route but cannot establish a TCP connection to the app instance.

I would suggest logging into the Gorouter container and confirm that you can make a request directly to 172.30.228.208:61001.

[2018-07-20 03:41] zhanggbj commented on #222
@shalako, thanks for your quick reply.
It worked well in my cluster and I can push and access my app, until I put an envoy proxy aside with gorouter.

From the gorouter container, it cannot access the address. Is there any suggestion for further debugging? Thanks.

[code]

[2018-07-20 15:06] shalako commented on #222
Why do you have an Envoy? Is it the sidecar managed by Diego?

[2018-07-20 16:10] zhanggbj commented on #222
@shalako
It's an envoy sidecar managed by  [Istio](https://istio.io/), as we are running CF on K8s, so gorouter turns to a K8s service and we would like to manage this service using Istio.

And there's another error log in gorouter, seems the tcp connection fail to create but not sure why...
[2018-07-20 07:43:25+0000] {"log_level":3,"timestamp":1532072605.9103882,"message":"backend-endpoint-failed

[2018-07-20 17:10] shalako commented on #222
Cloud Foundry has not been tested to run in such a configuration. Gorouter does not use Istio for service discovery; it uses NATS. Gorouter expects to be able to connect to the application container via the Diego Cell host (a VM). In an environment where gorouter and the application are running in containers, we expect gorouter to connect to the application container directly. If there are other c

[2018-07-23 03:16] zhanggbj commented on #222
@shalako Thanks a lot for the detailed information, I'll continue the investigation. Will close this issue for now.

[2018-07-23 03:16] #222 closed

[2018-08-03 21:59] shubhaat commented on #218
@xavierW - we are closing this issue due to age. Feel free to reopen if this is still an issue for you.

[2018-08-03 21:59] #218 closed

[2018-08-08 21:13] zachgersh commented on #180
closing as a won't fix as we _hope_ this will be address in the new world.

[2018-08-08 21:13] #180 closed

[2018-08-08 21:17] zachgersh commented on #219
hey @sunjayBhatia - such a thorough issue (really appreciate that btw). I want to understand how changing the error codes helps the diego teams tests? Are you all looking explicitly for a 404 and any other error is just not right (the test blows up because of it).

[2018-08-09 13:14] sunjayBhatia commented on #219
@zachgersh we expect that during the upgrade the app instance should be routable and return `200`s but there is some tolerance for getting `404`s ([here](https://github.com/cloudfoundry/diego-upgrade-stability-tests/blob/86af7e110dfd1de9e26632cebc8b7253e09e78c8/poller_test.go#L72-L92)) and none for `502`s.

Some more context on this came from this slack thread as well: https://cloudfoundry.slack.c

[2018-08-13 17:09] keymon opened #223 "fatal error: sync: Unlock of unlocked RWMutex"
## Issue

Today one of our gorouters failed and exiitted with a fatal error: `fatal error: sync: Unlock of unlocked RWMutex`

The process got restarted by monit immediately after, and started to serve normally.

All active connections got canceled with a 503 (likely from the haproxy we have in front)

## Context

Running cf-deployment v2.6.0 with cf-routing-release v0.179.0 (which is the gorouter

[2018-08-29 07:11] adriancole opened #224 "implement "b3 single" header format"
## Issue

We should permit at least parsing the more compressed "b3" header format, if not making it possible to propagate it downstream.

ex.  `b3: 4bf92f3577b34da6a3ce929d0e0e4736-00f067aa0ba902b7-1`

This is the same format as will be used in the w3c tracestate

## Context

Details are here: https://github.com/openzipkin/b3-propagation/issues/21

Example implementation is here: https://github.c

[2018-08-30 08:17] karthiksnair opened #225 "Session stickiness fails when routed via Spring Cloud Gateway"
Thanks for submitting an issue to `gorouter`. We are always trying to improve! To help us, please fill out the following template.

## Issue

Request routed to an app via Spring Cloud Gateway deployed in PCF, fails to do sticky sessions despite having JSESSIONID.

## Context

Gorouter ensures sticky sessions (same app instance), for requests from browser to application deployed on PCF, The applica

[2018-09-02 23:48] sdesa opened #226 "Spring Security/Gorouter Issue?"
I am working with Spring Security to secure an application deployed on Pivotal Cloud Foundry. When I logout the securitycontext is cleared and the JSESSIONID cookie is deleted. When I go back to the home page, a new JSESSIONID is automatically created and the application logs me in, **without asking me to authenticate**. This happens only on PCF but works fine locally. When I run the application l

[2018-09-05 14:36] karthiksnair commented on #225
We are finding that the JSESSIONID and VCAP_ID cookies from the tomcat based application is being overridden by the ones generated by and for the Spring Cloud Gateway app.  We are trying to change the cookie name now.  There are other bunch of headers the gateway sets.

1. Is there a possibility that Go_Router prefixes app_name to the JSESSION_ID and VCAP_ID so that apps along the chain do not ove

[2018-09-19 21:29] KauzClay commented on #226
We noticed that your corresponding issue in PCF-dev was closed, so we are going to close this as well. We recommend contacting Pivotal Support if further assistance is needed.

[2018-09-19 21:34] KauzClay commented on #225
GoRouter should not be prefixing an app name to the JSESSION_ID or VCAP_ID, expected behavior is documented here:  https://docs.cloudfoundry.org/concepts/http-routing.html#sessions

If problems persist with this environment, we recommend contacting Pivotal support as it pertains to PCF/Spring.

[2018-09-19 21:34] #225 closed

[2018-09-19 21:40] KauzClay commented on #224
We're currently focusing our efforts on integrating Istio and Envoy into CF so we likely won't be able to prioritize this anytime soon. We'd be happy to review a PR!

/cc @shalako for awareness

[2018-09-19 21:42] KauzClay commented on #223
Without a way to reproduce this, we can't offer much help. We will close this but please reopen or open a new issue if the problem persists.

[2018-09-19 21:42] #223 closed

[2018-09-19 21:46] KauzClay commented on #215
It looks like your problem has resolved. We are closing due to age, but feel free to reopen if you still run into problems.

[2018-09-19 21:46] #215 closed

[2018-09-19 21:48] KauzClay commented on #210
We are currently focusing efforts on Istio/Envoy integration in CF, so we won't be able to get to this any time soon. We would be happy to review a PR!

[2018-09-19 21:48] #210 closed

[2018-09-19 21:51] KauzClay commented on #205
Could you please provide answers to the above questions? Also, as others have mentioned, our efforts are currently focused on Istio/Envoy integration, so this will likely not be prioritized.

[2018-09-19 21:57] KauzClay commented on #199
We noticed in the closed [issue](https://github.com/pivotal-cf/pcf-pipelines/issues/224) there was mention of a PR, but it links to this issue. Please submit a PR if this is still desired. We likely cannot prioritize this because our efforts are currently focused on Istio/Envoy integration in CF.

cc @shalako for awareness

[2018-09-19 22:01] KauzClay commented on #197
We are closing this issue due to the results of this [PR](https://github.com/cloudfoundry/gorouter/pull/198)

[2018-09-19 22:01] #197 closed

[2018-09-20 15:17] jcchavezs commented on #224
I am working on this now.

[2018-09-21 17:38] shalako commented on #226
Hello,
If you could provide us with an app with which we can reproduce this in an OSS Cloud Foundry environment, we'll take a look. Gorouter shouldn't be removing the JSESSIONID cookie, only adding the VCAP_ID cookie.
Thank you

[2018-09-21 17:42] shalako commented on #225
We recommend going through Pivotal Support for this issue, as we are an OSS team and don't have access to environments with PCC, service registry, Spring Cloud Gateway, etc.

[2018-09-21 17:59] sdesa commented on #226
This can be closed, cachecontrol was the issue and after adding that, this got resolved.

[2018-09-21 17:59] #226 closed

[2018-09-21 18:53] rosenhouse commented on #212
I'm pretty sure that [this tracker feature story](https://www.pivotaltracker.com/story/show/160355112) is the fix to this issue.

We've prioritized that story for the engineering team.

[2018-09-26 06:08] lavcraft opened #229 "X-Forwarded-Prefix and URL rewrite support"
## Issue

x-forwarded-prefix is supported by Spring  — see [ForwardedHeaderFilter](https://github.com/spring-projects/spring-framework/blob/master/spring-web/src/main/java/org/springframework/web/filter/ForwardedHeaderFilter.java#L75)

Why gorouter doesn't support this header now? I guess it's very useful

## Motivation

In many cases, it is a good option. For example — spring-data-rest.

[code]

[2018-09-26 13:53] lavcraft commented on #229
I dont sure about issue type. It's not a bug, i gues.. Sounds like a feature :)

[2018-10-04 17:09] adobley commented on #217
@HiteshNembhwani I am closing this for now, please feel free to reopen if you are still experiencing this issue. Thanks!

[2018-10-04 17:09] #217 closed

[2018-10-04 17:15] KauzClay commented on #229
Hi @lavcraft, it is unlikely we can prioritize adding this feature since our efforts our currently focused on integrating Istio/Encoy, but I am notifying @shalako for awareness of this feature. Also, we will gladly review a PR!

[2018-10-21 08:43] saturnism commented on #64
@jdubois should the mimetype be `application/json`?

[2018-10-21 08:52] jdubois commented on #64
Not sure this is still relevant, this is 4 years old

[2018-11-05 22:28] adobley commented on #159
Hi @holgero

Given the age of this issue we are considering closing this, let us know if this is still an issue you are facing. Feel free to reopen this issue and let us know.

Thanks!

[2018-11-06 01:11] shalako commented on #200
We'll don't plan on any major refactors in Gorouter, as our long term strategy is to replace it with Envoy.   We'll make a note to explore Envoy support for streaming large payloads.

[2018-11-06 01:11] #200 closed

[2018-11-06 01:45] shalako commented on #185
It looks like Envoy supports what you're asking for:
- https://www.envoyproxy.io/docs/envoy/latest/api-v2/api/v2/cds.proto.html#upstreamconnectionoptions
- https://www.envoyproxy.io/docs/envoy/latest/api-v2/api/v2/core/address.proto#envoy-api-msg-core-tcpkeepalive

We'll have to add support to Istio to configure it.
https://github.com/cloudfoundry/gorouter/issues/185

Closing in favor of Envoy

[2018-11-06 01:45] #185 closed

[2018-11-06 01:49] shalako commented on #181
Max Connections per backend is supported.  cloudfoundry/routing-release#82 was closed by @giner. We've closed #185 in favor of support for the same feature in Envoy.

As that addresses the suggested solutions, we'll close this one, too.

[2018-11-06 01:49] #181 closed

[2018-11-08 14:45] keymon commented on #223
Hello, this happened again to us:

[code]

[2018-11-08 14:47] keymon opened #235 "fatal error: sync: Unlock of unlocked RWMutex (reopen from #223)"
This is to reopen the issue in https://github.com/cloudfoundry/gorouter/issues/223

It happened again as per https://github.com/cloudfoundry/gorouter/issues/223#issuecomment-437017693

## Issue

Today one of our gorouters failed and exiitted with a fatal error: `fatal error: sync: Unlock of unlocked RWMutex`

The process got restarted by monit immediately after, and started to serve normally.

All

[2018-11-08 16:51] keymon commented on #235
I attach the full logs from our server. It contains the thread dumps of all the treads running at that moment, and maybe by proximity you can find out what was the other thread that unlocked the endpoint.

[gorouter.log.gz](https://github.com/cloudfoundry/gorouter/files/2562679/gorouter.log.gz)

[2018-11-08 17:10] shubhaat commented on #235
Hi @keymon , This seems to be a recurring issue in your environment, I also found this issue here: https://github.com/cloudfoundry/gorouter/issues/223. We will prioritize this for further investigation.

[2018-11-28 10:53] keymon commented on #235
This has happened again to us! This morning.

We have:
 - 3x gorouter and we handle around 300r/s (100 per gorouter)
 - Currently running [routing-release 0.182.0](https://github.com/cloudfoundry/routing-release/releases/tag/0.182.0) which ships the gorouter at level https://github.com/cloudfoundry/gorouter/tree/6182943f46667e55072c4437cd382d0966462d08
 - We run on Xenial on AWS
 - In front of gor

[2018-11-28 16:03] zachgersh commented on #235
@keymon - thanks again - the stack traces all pretty much look the same. Its unfortunate because it doesn't tell us which lock is actually being unlocked twice (we can just kind of guess at the general area). It's also strange that we aren't seeing a ton of reports of this with all the users of gorouter but you've managed to somewhat consistently see it.

We just put a commit on master that remove

[2018-11-29 02:07] swidnikk opened #237 "Route with Path is Not Working"
Thanks for submitting an issue to `gorouter`. We are always trying to improve! To help us, please fill out the following template.

## Issue

When mapping a route from both command line and manifest that includes a path and hostname it does not work as expected.

## Context Steps to Reproduce

My application has the following routes
1. http://myapp/
2. http://myapp/org
3. http://myapp/org/member

[2018-11-30 23:50] swidnikk commented on #237
Thank you

[2018-12-04 00:34] jeffpak commented on #237
@swidnikk

Hello, I think we understand what you're trying to do, and think you are misunderstanding what the map-route command actually does. `cf map-route` will only map a route to an application, specified by the `DOMAIN`, `HOSTNAME`, and `PATH` flags. Those three flags, when combined, will create a route for you that will then be mapped to the application. It is NOT going to map a route for yo

[2018-12-06 06:07] rosenhouse commented on #235
Coping over a couple notes that I left on the Pivotal Tracker story:
- the commit referenced above [was reverted](https://github.com/cloudfoundry/gorouter/commit/96e629a9b7db24db3b0dc5ceac534be0da69261e) due to concerns that it could break keep-alive behavior to backends.
- looking at source code a bit, [this line](https://github.com/cloudfoundry/gorouter/blob/a2e8fcfec056587806ca192fced3eb272b977

[2018-12-06 06:48] rosenhouse commented on #235
alright, here's a rough theory on how this might happen.  please poke holes....

Consider three goroutines `A`, `B`, and `C` all with a local variable `e` of type `*endpointElem` that are initially all pointing at the same address.

0. initial state with line numbers in [pool.go](https://github.com/cloudfoundry/gorouter/blob/a2e8fcfec056587806ca192fced3eb272b9770aa/route/pool.go#L189) and [roundro

[2018-12-06 12:47] keymon commented on #235
@rosenhouse great analysis. I think it makes sense what you say.

One way to fix that behaviour without too many changes might be that we fetch the endpoint variable at the beggining of the scope in the [pool.go:198](https://github.com/cloudfoundry/gorouter/blob/a2e8fcfec056587806ca192fced3eb272b9770aa/route/pool.go#L198)

[code]

And also in [roundrobin.go](https://github.com/cloudfoundry/goroute

[2018-12-07 20:30] zachgersh commented on #171
@jtwaleson - would you mind writing this up as a feature here: https://github.com/cloudfoundry/istio-release (that way @shalako can keep track of it as we work on istio features)?

[2018-12-07 21:13] zachgersh commented on #170
talked to @cholick offline. Closing for now.

[2018-12-07 21:13] #170 closed

[2018-12-07 21:14] zachgersh commented on #229
@lavcraft - would you like to move this over to https://github.com/cloudfoundry/istio-release and we can prioritize getting it integrated as part of the istio track of work @KauzClay mentioned?

[2018-12-07 22:54] rosenhouse commented on #235
@keymon  that may be a fix, though I would re-emphasize the last message in [the thread I linked above](https://groups.google.com/forum/#!msg/golang-nuts/rzsRe7JBBMI/6tvxcW6rvsUJ)

you could use a temporary variable, explicit or not, to make sure the Lock and Unlock both operate
on the same value.  But that's irrelevant.

depends on (a) whether either of them is the right value to be passing to Lo

[2018-12-10 09:24] libnux opened #238 "Tens of thousands of sockets in CLOSE_WAIT status"
Thanks for submitting an issue to `gorouter`. We are always trying to improve! To help us, please fill out the following template.

## Issue

Tens of thousands of sockets in CLOSE_WAIT status, and they occupied large amount of memeory and used up FD. The overall performance was greatly degraded.

## Context

Gorouter release in cf.v237

## Steps to Reproduce

Start gorouter and after several minut

[2018-12-14 17:04] majidmade opened #239 "ms_since_last_registry_update metric emits value of 9.223372036854e+12 when no routed apps have been pushed"
## Issue / Context

If no routed apps have been pushed to an isolation segment, the `ms_since_last_registry_update` metric emits with a value of `9.223372036854e+12`.

(Note that there may be other scenarios in which this occurs; however, it's difficult to reproduce outside of isolation segments.)

![image](https://user-images.githubusercontent.com/19802056/50016504-9bd61800-ff86-11e8-8917-0ab62e6

[2018-12-15 03:15] shalako commented on #239
Moved to backlog

[2018-12-18 18:15] shubhaat commented on #238
It looks like you are on cf-release and we have since deprecated [cf-release](https://github.com/cloudfoundry-attic/cf-release) and no longer support it. We recommend you migrate to cf-deployment, to read more about migration [here](https://github.com/cloudfoundry/cf-deployment-transition)

CF Routing Team

[2018-12-18 20:51] alexmora81 opened #240 "Go router has 16KB header limit"
Thanks for submitting an issue to `gorouter`. We are always trying to improve! To help us, please fill out the following template.

## Issue

When using custom header and passing a SAML token greater than 16kb the header gets truncated
## Context

Have a cluster of apps that need to share SAML authentication. Per design, a SAML token is passed to receiving API's using a custom header SAML_RESP. If

[2018-12-18 21:33] utako commented on #190
Bumping to get @johnpfield's input on this as a solution.

[2018-12-18 21:34] utako commented on #179
I'm closing this, as it appears your issue has been resolved by your workaround. Please feel free to open another issue if it has not been resolved.

Thanks,
@utako, CF Routing Team

[2018-12-18 21:34] #179 closed

[2018-12-18 21:40] utako commented on #219
@shalako @shubhaat I see more 502 issues coming our way, and it'd be great to add a story to clarify and publicize the intended behavior or fix this to meet Diego's availability requirements.

[2018-12-18 21:57] utako commented on #212
Hi @samzilverberg,

Since [this story](https://www.pivotaltracker.com/story/show/160355112) is currently prioritized and captures this issue, I'm going to close this to reduce duplication in our backlog. If that story does not fit your needs, please feel free to reopen another issue.

Thanks,
@utako, CF Routing Team

[2018-12-18 21:57] #212 closed

[2018-12-18 22:17] utako commented on #171
Hi @jtwaleson,

I'm going to close this in favor of the issue I hope you open in our [Istio Release](https://github.com/cloudfoundry/istio-release) to capture this. Please let us know if you have any other questions.

Thanks,
@utako, CF Routing Team

[2018-12-18 22:17] #171 closed

[2018-12-18 23:16] sunjayBhatia commented on #219
I don't think this is blocking us, it was more of an intermittent oddity that caused some flakes (not many) in our pipeline when route registration messages were slow that we wanted to clarify the behavior around

I guess at a higher level, to get at the intentionality of why a `502` vs. `404` is returned, we have this comment in slack: https://cloudfoundry.slack.com/archives/C05586PBX/p1530299322

[2018-12-19 17:33] shalako commented on #219
We could explore why we're not returning a 404 in this case; it seems to me like we should. However, it also sounds like it isn't a high priority. Unless Diego begins registering the new cell before deregistering the old one, I don't think we can commit to zero-downtime with one app instance.

[2018-12-19 17:46] sunjayBhatia commented on #219
Yeah, with one instance, zero downtime is totally dependent on ActualLRP events + route registration messages getting to components in time, in practice ActualLRP creation are generated first, but the order they get to cell's local route emitters is non deterministic

[2018-12-19 22:17] emalm commented on #219
The route-registration and -unregistration messages used to have a more reliable order of transmission with the route-emitter operating in "global" mode, and given that Copilot will have a similarly central role in the Istio-based routing control-plane. Consequently, I don't think it's a high priority to resolve this concurrency issue with the cell-local route-emitters, but if we on the Diego team

[2018-12-19 22:22] shalako commented on #219
503 also makes sense to me. Our integration with Istio and Envoy for platform ingress already returns a 503. Think we can punt on a fix in Gorouter, in favor of Istio+Envoy?

[2018-12-20 00:37] shalako commented on #240
We would welcome a PR for this; please include a PR to github.com/cloudfoundry/routing-release to support a configurable manifest property.

Our team is currently focussed on building the Istio Pilot and Envoy based routing tier and we are not likely to prioritize doing this ourselves in the near term, but we will prioritize review and merging of a PR.

[2018-12-20 00:44] shalako commented on #238
Closing this for now; please reopen if you observe using a more recent version of cf-deployment.

[2018-12-20 00:44] #238 closed

[2019-01-04 10:40] enzokwai opened #242 "authfile not working"
## Issue

I am not able to start chisel server when using authfile option, it output fatial error and exit.

Everything is normal when not using authfile

I am try to use sample authfile in github still no luck

## Context
λ chisel server --port 8020 --authfile users.json
2019/01/04 18:35:28 server: users: Loading the configuraion from: users.json
fatal error: sync: Unlock of unlocked RWMutex

gor

[2019-01-07 17:35] enzokwai commented on #242
Yes, sorry about the mix up 😆

[2019-01-07 17:38] adobley commented on #242
No worries! I'll go ahead and close this. Thanks!

[2019-01-07 17:38] #242 closed

[2019-01-07 19:21] bruce-ricard commented on #229
Closing due to inactivity. Feel free to reopen.

[2019-01-07 19:21] #229 closed

[2019-01-08 01:04] shalako commented on #229
@lavcraft We have on our roadmap support for URL rewriting, which would enable a developer to specify that requests to `/foo/bar/*` should be forwarded to `/`. However, the app would still have to be configured to know what this prefix is so it can generate working links. It seems that the `x-forwarded-prefix` provides this information.

I've opened an issue with Envoy to explore support for this

[2019-01-15 21:58] shalako commented on #235
We just cut routing-release 0.185.0 with the fix. Closing for now. If you find, after upgrading, that this is still and issue, please reopen.

[2019-01-15 21:58] #235 closed

[2019-01-18 17:24] richardTowers opened #243 "Route not found 404s should not be cached"
## Issue

gorouter doesn't return a Cache-Control header for 404s. This can cause issues for sites that sit behind HTTP caches.

## Context

If all of the apps serving a particular app fail their healthcheck, gorouter will respond with a 404.

If there are caching proxies in front of gorouter these may decide to cache this 404 when the applications become healthy again.

This can result in the und

[2019-01-18 18:46] utako commented on #190
We're going to keep this open until we get @johnpfield's input on whether this is a security concern. In the meantime, we plan on fixing this in our new Envoy/Istio routing tier.

[2019-01-18 18:50] utako commented on #240
Closing this issue, as we are not planning on prioritizing this work. As @shalako said, we welcome a PR to support this. Feel free to reference this issue in doing so.

[2019-01-18 18:50] #240 closed

[2019-01-18 18:56] shalako commented on #190
@takeyourhatoff As we're trying to leverage Envoy for new features, I'd be interested in your feedback on it's support for session keys:

https://www.envoyproxy.io/docs/envoy/latest/api-v2/api/v2/auth/cert.proto#envoy-api-msg-auth-downstreamtlscontext
https://www.envoyproxy.io/docs/envoy/latest/api-v2/api/v2/auth/cert.proto#envoy-api-msg-auth-tlssessionticketkeys

[2019-01-18 18:59] shubhaat commented on #243
Hi @richardTowers ,

That seems like a valid concern, can you tell us a bit more about the impact you are seeing in your CF deployments from this. I am looking for more information in terms of impact, to be able to prioritize this.

Also we are open to PRs and recommend making a PR to us, we will be able to prioritize merging PRs from the community.

Routing team

[2019-01-18 19:24] johnpfield commented on #190
Sorry didn't see this before the holidays.  Will have a look and let you
know.

John

On Fri, Jan 18, 2019 at 1:56 PM Shannon Coen <notifications@github.com>
wrote:

--

John P. Field | Product Lead - Security and Compliance | Pivotal

Direct: (908) 962-3394 | jfield@ <jfield@gopivotal.com>pivotal.io

[2019-01-18 20:12] richardTowers commented on #243
Hi @shubhaat ,

Some of our CF applications are fronted by caches like cloudfront and fastly. The majority of the time everything is just fine, but if you get very unlucky and the app is unregistered while the cache is cold you can end up with the 404 page in the cache.

It is already possible for operators to work around this by mapping a default route with caching disabled.

I think it should be

[2019-02-07 21:24] #224 closed

[2019-02-15 19:58] aparolin opened #246 "Failed to validate Route Service Signature"
## Issue

Gorouter throws error `Failed to validate Route Service Signature` when performing requests containing escaped chars #%.

## Context

We are currently using a route-service (with the [User-Provided Service mode](https://docs.cloudfoundry.org/services/route-services.html#user-provided)). The second time the request reaches the gorouter, it throws the error `Failed to validate Route Servic

[2019-02-21 17:26] aparolin opened #249 "X-CF-APP-INSTANCE not having the desired effect with route-service"
## Issue

Using X-CF-APP-INSTANCE in the request does not guarantee that the wanted instance is reached.

## Context

When using a route-service in [UPS mode](https://docs.cloudfoundry.org/services/route-services.html#user-provided) and adding header [X-CF-APP-INSTANCE](https://docs.cloudfoundry.org/concepts/http-routing.html#app-instance-routing) to the requests, it's not guaranteed that the requ

[2019-02-21 23:07] shubhaat commented on #249
Hi @aparolin, Can you tell us more about the impact you have from this? Is there a production usecase that you are trying to use this for.

[2019-02-22 12:08] aparolin commented on #249
Hi @shubhaat, there is no productive impact on our side yet. We have found that out during a performance test in which that header was used to orchestrate/synchronize the start/stop of kafka consumers in multiple instances of an application.
That was fine until we introduced the route-service. Then we got this unexpected side-effect.

[2019-02-22 18:15] shubhaat commented on #249
@aparolin Thanks for the response.  Would you be open to making a PR for this? Given the current state of our backlog and the number of issues we have, we will likely not be able to prioritize fixing this soon. We have been trying to prioritize PRs higher.

[2019-03-05 19:32] ameowlia commented on #239
Hi @majidmade,

Thanks for this issue. We made a fix for this that should be in the next release.

In the future you will see `-1` when no routes have been created.

Thanks,
@ameowlia

[2019-03-07 23:45] bruce-ricard commented on #243
Hi @richardTowers.

What if instead of setting the `cache-control` header to `no-cache`, we set it to `public` with a `max-age` of a couple seconds? This would still allow the cache to protect the gorouter to some degree, while not having the end user wait for hours.

[2019-03-11 16:43] #246 closed

[2019-03-13 14:46] TheFonz2017 commented on #155
Nice discussion! Thanks a lot. This helped to better understand Go Router and CF routing.

Having worked with Ribbon and Eureka lately, I was thinking of the following - which should be possible and might even be a candidate for integration with Spring Cloud:

#### The Facts

* Cloud Foundry has the possibility not only to enable container-to-container communication but also to set a request heade

[2019-03-15 17:50] rlewkowicz opened #250 "Getting a 404 on a route that absolutely exists."
Thanks for submitting an issue to `gorouter`. We are always trying to improve! To help us, please fill out the following template.

## Issue

I have a support ticket open with pivotal, but I figure it can hurt to ask here.

When hitting the go router via a load balancer (Netscaler using URL transform), I get a 404. If I copy and paste the exact domain from the error into my browser It works.

```4

[2019-03-15 18:57] rlewkowicz commented on #250
I have the dumbs. Somehow I had pointed the lb at the wrong foundation so of course the route did not exist

[2019-03-15 18:57] #250 closed

[2019-03-18 13:05] TheFonz2017 commented on #155
I have implemented above-mentioned approach. If anyone wants to have a look at it, you can find it here: https://github.com/TheFonz2017/Spring-Cloud-Netflix-Ribbon-CF-Routing

Cheers.

[2019-03-18 16:41] adobley commented on #239
Hi @majidmade,

The fix for this is included in 0.187.0

Let me know if this is resolved for you :)

Thanks!

[2019-03-31 16:24] metskem commented on #159
I stumbled upon this issue while analysing the amount of logging we had from our PCF installation.
Having a gorouter ValueMetric for each request, I find ridiculous.
Would it be possible to have this ValueMetric be emitted on a fixed time interval, basically what @aaronshurley already suggested?

thanks,
Harry

[2019-04-19 15:55] tlwr commented on #243
I work on the same team as @richardTowers so have the same context. Sorry for the slow response.

`Cache-Control: public,max-age=2` is a good solution for both users and gorouter.

What are your thoughts on this being set for other pages gorouter, e.g. whenever serving `502`s.

[2019-05-06 18:00] ameowlia commented on #243
Hi @tlwr and @richardTowers,

We think it's reasonable to have this cache-controller header when the gorouter returns 4XX and 5XX. Pinging our PM @adobley, to see if this sounds reasonable to him.

If you could update your PR with this `Cache-Control: public,max-age=2` header instead of the `no-cache` header, that would be great.

Thanks,
@ameowlia and @bruce-ricard, CF Networking Program Members

[2019-05-06 19:18] ameowlia commented on #190
Hi @johnpfield,

Just bumping this thread. We would still appreciate your input on leveraging Envoy for this.

Thanks,
@ameowlia and @bruce-ricard, CF Networking Team Members

[2019-05-06 20:04] tlwr commented on #243
Hi, @ameowlia - thanks, I have updated #244 accordingly

[2019-05-06 20:45] ameowlia commented on #203
Hi all,

We think we could also fix this through enabling mTLS from the GoRouter to the Route Service.
@XanderStrike does this sound like something Envoy could tackle in the future?

At the very least we can update the docs to tell Route Service creators.

Thanks,
@bruce-ricard and @ameowlia, CF Networking Program members

[2019-05-06 21:13] shalako commented on #190
John Field is no longer at Pivotal
@slowestgirl @danjahner

[2019-05-07 18:28] XanderStrike commented on #203
We haven't discussed route services at length though I know we intend to support them in Envoy. I'll make sure the PMs are aware of this concern for when we implement them.

[2019-05-08 17:45] adobley commented on #243
This sounds reasonable to me. Happy to move forward with that strategy.

[2019-05-09 17:48] ajackson commented on #190
@utako @shalako This isn't a security issue.   We're relying on proper go implementation the TLS resumption.   The only concern is that we're securely generating a secret from credhub to use as a session ticket key.   We should do this like we do other secure secrets / keys from credhub via BOSH.   Then we should be good to go.   For the rotation case the user would have to rotate the credential v

[2019-05-10 00:19] xoebus commented on #190
Session tickets in TLS 1.2 have [some serious shortcomings](https://blog.filippo.io/we-need-to-talk-about-session-tickets/) (especially with a pre-distributed key). It would be nice if this feature was going to be added to allow it to be optional for the time being (or at least until TLS 1.3 is more pervasive).

[2019-05-13 18:13] barakyo commented on #239
Hi @majidmade,

We are closing this issue due to inactivity. If this is still an issue, please feel free to reopen with more information.

Thanks,
@barakyo and @bruce-ricard, CF Networking Program Members

[2019-05-13 18:13] #239 closed

[2019-05-13 18:25] barakyo commented on #219
Hi all,

We are closing this issue due to inactivity. If this is still an issue, please feel free to reopen with more information about its impact.

Thanks,
@barakyo and @bruce-ricard, CF Networking Program Members

[2019-05-13 18:25] #219 closed

[2019-05-13 18:46] #243 closed

[2019-05-13 20:49] barakyo commented on #203
Hi @CAFxX,

Just for clarification, did you mean the `X-CF-Forwarded-Url` header? Your post mentions `X-Proxy-Forward-Url`, but @bruce-ricard and I unable to find any references of that in either the documentation or the code.

Thanks!

[2019-05-20 18:31] barakyo commented on #249
Hi @aparolin,

We are closing this issue due to inactivity. If this is still an issue, please feel free to reopen with more information about its impact.

Thanks,
@rodolfo2488 and @barakyo, CF Networking Program Members

[2019-05-20 18:31] #249 closed

[2019-05-28 16:34] barakyo commented on #203
Hi all,

I'm closing this issue due to inactivity. If this is still an issue, please feel free to reopen with more information about its impact.

Thanks,
@barakyo, CF Networking Program Member

[2019-08-28 13:16] joaquinito01 opened #253 "package github.com/uber-go/zap: code in directory /root/go-/src/github.com/uber-go/zap expects import "go.uber.org/zap""
Thanks for submitting an issue to `gorouter`. We are always trying to improve! To help us, please fill out the following template.

## Issue

[provide quick introduction so this issue can be triaged]
I are installing GoRouter and says:
package github.com/uber-go/zap: code in directory /root/go-/src/github.com/uber-go/zap expects import "go.uber.org/zap"
[tell us about how this impacts your users o

[2019-08-28 14:26] Soha-Albaghdady opened #254 "Increase in gorouter memory with TLS enabled to Diego"
## Issue

After updating to cf-deployment v11.0.0 (with route integrity enabled) on one of our productive landscapes, we have noticed an increase in the gorouter memory usage. The usage increases in steps as depicted below. It took almost a week till the usage rose to > 90%.

![Screen Shot 2019-08-28 at 09 01 16](https://user-images.githubusercontent.com/29755653/63859786-3efd7f00-c9a8-11e9-8369-e

[2019-08-29 06:39] GitPaddo commented on #254
Some more metadata on our update:

- cf-deployment was updated from v9.5 to v11.0
- Diego-release has been updated from 2.34.0 to 2.35.0
- Routing-release has been updated from 0.188.0 to 0.190.0

[2019-09-03 19:25] rodolfo2488 commented on #254
Hi @Soha-Albaghdady !

Thanks for filing this issue and including all of the information. We have started looking into this and have a couple of additional questions:

1. Are you using the default `cf-deployment.yml`? Are there any additional ops-files you apply?
1. Have you rolled back your production env as a result of the memory issues?

Thanks in advance,
@angelachin and @rodolfo2488
CF Networ

[2019-09-05 13:56] Soha-Albaghdady commented on #254
Hi @rodolfo2488, @angelachin,

Thank you for your reply.
Yes, we are using additional ops files. Following below are the (possibly) relevant properties that we change in our ops file for gorouter and diego cells.

[code]

For the second question, yes, we have rolled it back. Before rolling back we tried restarting the gorouters but we still experienced the same issue after the restart.

BR,
Soha A

[2019-09-09 21:40] mike1808 commented on #253
Hi @joaquinito01
Sounds like you might not have your environment set up correctly. Please follow the [setup steps](https://github.com/cloudfoundry/gorouter#setup) and make sure `GOPATH` is set to the routing-release folder. You can automatically set it by using [direnv](https://direnv.net/). Let us know how it goes!

Thanks,
@mike1808 and @KauzClay, CF Networking Program members

[2019-09-30 16:40] ameowlia commented on #253
Hi all,

We are closing this issue due to inactivity. If this is still an issue, please feel free to reopen with more information about its impact.

Thanks,
@ameowlia and @mike1808 , CF Networking Program Members

[2019-09-30 16:40] #253 closed

[2019-09-30 17:00] ameowlia commented on #203
Hi all,

We are closing this issue due to other priorities. If this is still an issue, please feel free to send a PR or continue the discussion.

Thanks,
@ameowlia and @mike1808 , CF Networking Program Members

[2019-09-30 17:00] #203 closed

[2019-09-30 17:09] ameowlia commented on #190
Hi all,

We are closing this issue until we start working on TLS 1.3 with golang 1.13.

Thanks,
@ameowlia and @mike1808 , CF Networking Program Members

[2019-09-30 17:09] #190 closed

[2019-10-08 23:05] rodolfo2488 commented on #254
Hey @Soha-Albaghdady , were you using those opsfiles before you upgraded? Specifically the one that sets the max_idle_connections?

[2019-10-08 23:14] rodolfo2488 commented on #254
also, in the error you provided, the destination IP:Port is `10.0.139.165:61074`. Is that an app on a diego cell in your platform?

We are wondering if you're seeing this `use of closed network connection` error only when trying to talk to certain apps? Or is it happening on all your apps across the board?

[2019-10-09 21:41] KauzClay commented on #254
Hey @Soha-Albaghdady , we also have a large production deployment running, and we asked the team maintaining that to comb through their metrics. When they were using cf-d v11, they saw a steady memory usage on the gorouters around 15%. So there might be something unique between the two deployments going on here. We haven't seen much of that error, and we haven't been able to force it ourselves.

A

[2019-10-11 09:33] Soha-Albaghdady commented on #254
@KauzClay No, we have deactivated the feature and haven't reactivated it since then. The requests are mostly requests that we send to create constant artificial load (~ 2.5K reqs/s). They are Get requests fired from mGrinder outside the landscape against an NGINX server app (120 instances, 100MB) in the landscape. The response time for these requests is around 1350ms.

[2019-10-15 00:29] mike1808 commented on #254
Hi @Soha-Albaghdady

We were able to reproduce the issue. We are currently investigating why that may happen. You can follow  [tracker](https://www.pivotaltracker.com/story/show/168169832) for more work in progress details, otherwise, we will keep you updated as we get new results.

[2019-10-16 23:55] mike1808 commented on #254
Hi @Soha-Albaghdady

We tried to reproduce this issue on our environment using different configs and vectors, but unfortunately, we didn't the same kind of increase of memory usage you reported.

If you can provide any additional reproduction steps and environment information that might help us, we might be able to take another look, but right now we exhausted our avenues of exploration.

@mike180

[2019-10-16 23:55] #254 closed

[2019-10-25 13:31] pusherofbrooms opened #256 "Private IP exposure of ELB when making http1.0 requests"
Thanks for submitting an issue to `gorouter`. We are always trying to improve! To help us, please fill out the following template.

## Issue

[provide quick introduction so this issue can be triaged]
When a request is made which uses http1.0 with an empty host header, it seems to expose the internal IP address of the ELB.

[tell us about how this impacts your users or production or dev environment

[2019-10-25 17:31] adobley commented on #256
The `Host` header is used to do the lookup of the backend by the GoRouter. Since GoRouter cannot process a request that is lacking a `Host` header, I think it would make sense to follow the same behavior for HTTP/1.1. The server is expected to respond with a `400 (Bad Request)` in this case. This is outlined in [RFC7230 section 5.4](https://tools.ietf.org/html/rfc7230#section-5.4).

[2019-10-25 23:52] tlwr commented on #256
I took a look at this and raised #257, there are two cases to look at here:

1. Gorouter receives a HTTP/1.0 request directly, where the Host header is omitted.

2. Gorouter receives a request, where the Host header is set, but it is the same (except for the port) as the IP address of the source IP address of the HTTP request; IP addresses are not valid routes anyway.

[2019-10-26 00:05] #256 closed

[2019-10-26 00:10] adobley commented on #256
@pusherofbrooms I merged the related PR and this should come out in the next routing-release version, once everything passes acceptance. Thanks for reporting the issue!

@tlwr Thanks for the fix :D

[2019-11-06 17:31] thomascjohnson opened #259 "Problem Establishing Stick Sessions with Reverse Proxy"
## Issue

I am working with a customer who has a cloud foundry application that requires a reverse proxy in front of it in order to serve via a specific URL. In order to establish sticky sessions to the individual instances, I've set the JSESSIONID cookie with this app and it works when not served behind the reverse proxy, but not through the reverse proxy.

## Context

Both the proxied app (Shiny

[2019-11-18 14:59] ecourreges-orange opened #260 "Implement W3C Trace Context headers"
## Issue
Feature Request

## Context

gorouter supports Zipkin b3 headers, which propagates only to applications supporting Zipkin b3 headers. https://docs.cloudfoundry.org/concepts/http-routing.html#zipkin-headers

There is now since August 2019 proposed standard headers "traceparent" and "tracestate" which can be used and will be used by all tracing frameworks from now on. https://www.w3.org/TR/

[2019-11-25 00:31] tlwr commented on #260
I started this in https://github.com/cloudfoundry/gorouter/pull/261

Currently implemented so that:

- Zipkin headers work
- W3C headers work

Where they do not interact with each other at all

[2019-12-02 18:13] adobley commented on #259
For anyone viewing this issue, there is more conversation on this topic in a thread on the [CloudFoundry slack](https://cloudfoundry.slack.com/archives/CFX13JK7B/p1572006586069900)

[2019-12-02 23:34] adobley commented on #260
Hello @ecourreges-orange!

I've merged the PRs from @tlwr (cloudfoundry/routing-release#160 and cloudfoundry/gorouter#261) and the change is making its way through our pipeline.

I'll let you know here when it's ready in a release to be consumed. You can also follow the tracker stories of the PRs to see when they're accepted.

If you're able to test out the current `develop` branch of `routing-rel

[2019-12-03 17:33] mike1808 commented on #259
For the index conversation from Slack:

Thomas Johnson Oct 25th at 5:29 AM
Hi, I set a JSESSIONID cookie in order to get a sticky session in an app I’m using, but the app is behind an nginx reverse proxy and I’m wondering if that’s why setting the cookie isn’t working to maintain the session stickiness to the instance the user is working with. Does anyone have any experience setting the JSESSIONID

[2020-02-07 08:33] domdom82 opened #263 "Gorouter fails to transmit large request bodies"
Thanks for submitting an issue to `gorouter`. We are always trying to improve! To help us, please fill out the following template.

## Issue

This issue was mentioned on the [cf networking slack](https://cloudfoundry.slack.com/archives/CFX13JK7B/p1580996356026100)

To summarize, gorouter prematurely closes the reverse proxy connection while there is still data in transit.

## Context

This might b

[2020-02-07 14:04] domdom82 commented on #263
FYI: I tested the issue by curling my app 100x with a large request body and 1000x with a small body and checked for any leaking connections using netstat and ss on the gorouter machine - did not find any.

So the connections are being reused (if keepalive is used) and closed as expected even with the code commented out.

[2020-02-07 15:02] domdom82 opened #264 "Gorouter should emit 404 on missing instance and 400 for bad instance id header"
## Issue

This seems to be a regression.

As described in https://github.com/cloudfoundry/gorouter/commit/a3583dbc8553d4a0902a42d7fa9ccddf03e54c56 gorouter should return 400 on malformed `X-CF-APP-INSTANCE` header and 404 if the instance denoted by said header does not exist.

This is also the described behavior in https://github.com/cloudfoundry/gorouter#headers (although the 400 response is miss

[2020-02-10 10:20] domdom82 commented on #264
Relevant section in docs: https://docs.cloudfoundry.org/devguide/deploy-apps/routes-domains.html

"Routing Requests to a Specific App Instance" heading

[2020-02-10 18:39] flawedmatrix commented on #263
Hi @domdom82, thanks for submitting this issue. We were able to reproduce the premature connection close and come up with a solution that fixes the issue. If there is a request body and a response body, we should close the request body only after the response body is closed. This should resolve concerns about leaking connections or memory.

[2020-02-10 23:54] tlwr commented on #264
_Drive-by and perhaps vexatious comment, sorry_

---

Relevant comment from Slack from @bruce-ricard:

I think the 400 is counter-intuitive and potential hostile to users, however the comment about load balancers caching 404s is useful to keep in mind.

There is probably additional context from the [associated pivotal story](https://www.pivotaltracker.com/story/show/170191495) with the commit (02a

[2020-02-11 09:37] domdom82 commented on #264
Whatever we choose to respond with, it should be clearly communicated because a change in status codes is basically a change to the user API without deprecation notice. Such changes should always be part of release notes and doc updates.

If we picked @tlwr s commit at least the docs would match the behavior again :)
This would unblock my clients for now until a proper doc update + logic change is

[2020-02-11 20:07] ameowlia commented on #264
Hi @domdom82,

First I'd like to apologize for the pain that this undocumented change caused you.

We have decided to stick with returning the 400. I updated the [release note](https://github.com/cloudfoundry/routing-release/releases/tag/0.197.0) to include this reasoning:
[code]

I also updated the following docs:
- [gorouter docs](https://github.com/cloudfoundry/gorouter/commit/d44c87d6ee66d4fdd

[2020-02-11 20:07] #264 closed

[2020-02-11 21:57] KauzClay commented on #264
Hi @domdom82,

Thanks for bringing this up. I apologize for the lack of documentation on this change. We are working on updating the documentation to reflect the current behavior.

For visibility, here is a link to a slack conversation on this topic: https://cloudfoundry.slack.com/archives/CFX13JK7B/p1581323910042700

For now, we will retain what we have, but I believe the discussion is still ongo

[2020-02-12 08:36] domdom82 commented on #264
@ameowlia thanks for the quick fix. My clients will update their apps to the new behavior.

[2020-02-12 19:58] #263 closed

[2020-02-17 09:40] domdom82 opened #265 "Doc Update: X-CF-APP-INSTANCE response headers should be documented"
## Issue

Since we recently changed the behavior on both invalid X-CF-APP-INSTANCE header and missing instance denoted by said header to return status 400, it has become difficult for users to distinguish the two.

We are already emitting a `X-Cf-Routererror` header with different values for each state but it is not documented in the dev guide yet.

## Context

As a user I want to be able to disti

[2020-02-24 21:48] KauzClay commented on #265
Hey @domdom82,

Thanks again for pointing out these discrepancies. Here are the proposed changes:

https://github.com/cloudfoundry/gorouter/commit/06e3165fd0952e8f4662fe6d4046ee85dc5e5f29

https://github.com/cloudfoundry/docs-cloudfoundry-concepts/pull/134

https://github.com/cloudfoundry/docs-dev-guide/pull/392

If you have questions or concerns, please let us know!

Thanks!
Clay and @adobley , C

[2020-02-26 18:53] domdom82 commented on #265
Hi @KauzClay  thanks for the fix! I noticed a small issue in gorouter readme.md with the change:

The sentence ´Usage of the X-Cf-App-Instance header is only available for users on the Diego architecture´ is now duplicated at the end of the section. https://github.com/cloudfoundry/gorouter#headers

[2020-03-02 17:17] KauzClay commented on #265
ohp, thanks for pointing that out! fixed it here https://github.com/cloudfoundry/gorouter/commit/90cbd52b6fd5f2f40803ad861d2378c8684dce43

[2020-03-18 17:09] KauzClay commented on #260
Hi @ecourreges-orange !

@tlwr 's changes were merged in and have been part of routing release since 0.196.0.

I hope the changes are working for you. Since it has been released for a while now, I am going to close this issue. Please feel free reopen if you have more comments/concerns.

Thank you!
@KauzClay , CF Networking

[2020-03-18 17:09] #260 closed

[2020-03-18 17:10] #265 closed

[2020-04-06 18:28] ameowlia commented on #259
Hello @thomascjohnson,

I wanted to tie up this issue. To summarize the result from the [slack thread](https://cloudfoundry.slack.com/archives/CFX13JK7B/p1572006586069900), it sounds like your nginx is not configured to handle sticky sessions . You mentioned that nginx sticky sessions are restricted to the paid version (we could not verify this with a quick google search, could you post a link to

[2020-04-06 18:28] #259 closed

[2020-05-17 09:15] a09-capf opened #267 "Wrong VCAP_ID stickyness cookie is set by GoRouter when Reverse Proxy CF app exists"
## Issue

#245 is insufficient fix, so sticky session doesn't work when Reverse Proxy CF app exists.

## Context

#245 fixed mis-overwriting VCAP_ID cookie when backend cf app generate JSESSIONID.

Once VCAP_ID and JSESSIONID is set in Cookie, in subsequent request the backend app generally doesn't set JSESSIONID every response and GoRouter also shouldn't set VCAP_ID cookie.

But, the latest versi

[2020-05-18 23:35] mcwumbly commented on #267
Hey @a09-capf thanks for reporting this issue. @tcdowney and I are taking an initial look at this today and we can reproduce the issue using the steps you outlined in your gist.

It seems that when you bind an app that uses sticky sessions to a route service running on CF, sticky sessions do not work.

Furthermore, we noticed a pattern worth making note of:

With `dora` bound to the `logging-route

[2020-05-19 12:19] a09-capf commented on #267
Hi, @mcwumbly thank you for checking this issue.

More precisely, I believe it doesn’t matter if a route service is bound to an app.
This issue happens when a proxy CF app just exists.
(The reason why I used a route service in the reproduce steps is because it's just an easy way to reproduce this issue.)

So, more simply,

can interpret as

`client -> gorouter -> proxy app -> gorouter -> backend`.

[2020-05-19 18:34] mcwumbly commented on #267
OK, good to know.  The fact that your use case _does not_ use a route-service is important information.  I wonder if you could create a similar gist that shows the problem using nginx and dora without a route service?

That would help illustrate your need more clearly.

Yes, thank you for providing all of that context. We started by reviewing that section and the pointers to the code. If I underst

[2020-05-19 23:22] a09-capf commented on #267
@mcwumbly

I think we can fix it by just changing a following line,

https://github.com/cloudfoundry/gorouter/blob/1441ab6b2283d075f6527389fcbb8aae7f6faef6/proxy/round_tripper/proxy_round_tripper.go#L302

[code]

if the GoRouter **in front of backend app (e.g. dora)** always return the `set-cookie: __VCAP_ID__` header regardless of whether the backend app's endpoint change or not, the GoRouter *in

[2020-05-28 13:08] thomascjohnson commented on #259
Sorry for not responding - nginx's sticky sessions wouldn't work because it requires knowing the upstreams explicitly. This wouldn't be possible because of the round-robin DNS on internal routes. I ended up writing a hack with Apache that sets the upstream to an external route and rewrites the cookie name to avoid the second pass (of the cookie) through the gorouter.

[2020-05-31 10:56] a09-capf commented on #267
Hi @mcwumbly, I really appreciate your cooperation.

Sure.
I am also checking [#networking at Slack](https://cloudfoundry.slack.com/archives/CFX13JK7B/p1590687373235400) and waiting for any good news.

Unfortunately, I think it's difficult to change the behavior of app's cookie.
It is controlled by the java servlet container.
We can't manually change it.

[2020-06-05 17:16] mcwumbly commented on #267
Reaching out for a bit more feedback on cf-dev: https://lists.cloudfoundry.org/g/cf-dev/message/9031

[2020-06-30 15:48] ameowlia opened #269 "rename branch "master" to "main""
### Current State
We have 1 non-wip branch that we use for gorouter.

| **branch name**   | **purpose**  |
|---|---|
| master  |  Where we push code we are actively developing. When people submit PRs, they submit them against the  develop branch. When we want to include our new code in routing-release we bump the submodule there.  |

### Desired State

* Replace "master" with "main"

### Why does

[2020-07-13 21:15] ameowlia commented on #269
done! Hope I didn't break anything 🐱

[2020-07-13 21:15] #269 closed

[2020-07-13 21:16] ameowlia commented on #269
https://github.com/cloudfoundry/gorouter/commit/d7d827ca3846945ff208e25ef3030453575f0628

[2020-09-14 17:41] AlexandreCassagne commented on #64
@jdubois The mapping is still

`mappings.add("json", MediaType.TEXT_HTML_VALUE + ";charset=" + StandardCharsets.UTF_8.name().toLowerCase());`

in WebConfigurer (Gateway). You said that you're not sure this is still relevant, but I am going to serve .json static files and was wondering if everyone agrees that it is safe to change this line to `application/json` instead?

I can propose a pull reques

[2020-09-16 18:33] jdubois commented on #64
@AlexandreCassagne yes please do a PR on the JHipster project about this (you can mention me if you want). I'm pretty sure we can remove this by now.

[2020-09-19 01:23] LeePorte opened #273 "pors"
Please report all issues and feature requests in [cloudfoundry/routing-release](https://github.com/cloudfoundry/routing-release) instead of here. Thanks!

[2020-09-19 01:23] #273 closed

[2020-12-02 13:12] jkbschmid commented on #159
Hi all, I’d like to restart the discussion on this topic, since these metrics are causing enormous load on our Loggregator system.

Previously, we were able to filter the aforementioned metrics in our nozzle. However, our landscape has grown and the amount of metrics is threatening loggregator stability and causing significant costs.
Since these metrics are emitted per request, gorouters emit a to

[2020-12-15 16:22] jkbschmid commented on #159
Adding to my previous comment to address any performance concerns:
Actually, I am convinced that reducing the frequency of metric egress would *improve* performance, even with metric aggregation. If you look at the CPU usage of a router VM and run a simple `top`, you’ll find that Loggregator agents consume more CPU time than the gorouter process itself (almost double!).

Since it's already possibl

[2020-12-15 16:57] ameowlia commented on #159
Hi @jkbschmid,

I am supportive of either (1) allowing a users to configure the frequency with which these metrics are emitted or (2) allowing a user to turn them off entirely. My preference is option 1 (which could also include option 2 in it!).

However, our team does not have the bandwidth for this work at the moment. If you are willing and able to PR it in, it would be much appreciated.

Thank

[2020-12-16 07:24] jkbschmid commented on #159
Hi @ameowlia,
of course, I'll see how much change would 1) and 2) would require and I'll provide a PR :)
Thank you!

[2021-01-20 16:02] stefanlay commented on #159
I am currently looking into this and I saw that there are two more envelopes emitted per request which even have much more bytes then the simple metrics mentioned above:

https://github.com/cloudfoundry/gorouter/blob/main/handlers/httpstartstop.go#L63
https://github.com/cloudfoundry/dropsonde/blob/master/instrumented_round_tripper/instrumented_round_tripper.go#L78 (called by https://github.com/clo

[2021-03-17 04:17] hanscrg commented on #225
@karthiksnair, do you have the solution yet? Does change cookie name work? Change should be in Cloud Gateway tie or application tie (behind gateway)?

[2021-03-27 22:55] hanscrg commented on #259
@ameowlia , I saw this issue closed. But is there any fix out yet? We have the similar setup. The reverse proxy is Spring Cloud gateway. The backend application scales to multiple instances. Reverse Proxy communicates with backend app through Container to Container networking. My understanding is that C2C networking does not go through GoRouter. So the fix on  #170 does not help, right? For C2C ne

[2021-03-30 21:01] MerricdeLauney opened #276 "Intent to support HTTP/2"
As a follow up to issue #195, we have generated this [proposal](https://docs.google.com/document/d/1vcqlwchibRPnGn2pPQideaW8rmGMGoHFtgrS4RmsVl8/edit) to enable http2 in cloud foundry.

We will be using this issue as our central coordination point and linking any associated PRs. Please let us know if you have requests or concerns.

cc @Gerg

[2021-03-31 16:19] ameowlia commented on #276
Hi @MerricdeLauney !

Because of all the submodules and in order to keep things more organized, we ask that all issues for gorouter are opened on [routing-release](https://github.com/cloudfoundry/routing-release/issues).

❓ can you please move this issue there?

[2021-03-31 16:19] #276 closed

[2021-04-19 11:53] viju2008 opened #279 "ADD CUSTOM HEADERS to GOROUTER PATHS"
Please report all issues and feature requests in [cloudfoundry/routing-release](https://github.com/cloudfoundry/routing-release) instead of here. Thanks!
Dear Sir,

Can we add custom headers to paths like we can do in nginx to GO ROUTER

[2021-04-22 05:58] ihuynh82 commented on #259
Hi @thomascjohnson

I have been working through a similar issue recently and have come across this thread.
Appears that I am experiencing a similar issue but instead of nginx, i am using apache.

Have got the following set up.

user -> go-router -> apache reverse proxy -> go router (internal route) -> java web application

even with JSESSION id configured, can still see the application bouncing be

[2021-04-22 09:31] thomascjohnson commented on #259
That won’t work with an internal route because the internal route doesn’t
have the gorouter between Apache and the app, I think. Or if it does, it
doesn’t do sticky sessions on internal routes. So to do this, your upstream
has to be an external route to get the stickiness.

On Thu, Apr 22, 2021 at 7:58 AM ihuynh82 ***@***.***> wrote:

--
Cell – (919) 355-8661

[2021-04-22 15:15] ameowlia commented on #259
Hi @ihuynh82 ,

@thomascjohnson is correct: internal routes do not go through gorouter and do not support sticky sessions. Here is a link to an [architecture doc about how internal route service discovery works](https://github.com/cloudfoundry/cf-networking-release/blob/develop/docs/service-discovery-architecture.md).

As of routing release [0.211.0](https://github.com/cloudfoundry/routing-release

[2021-04-22 15:27] ameowlia commented on #279
Hi @viju2008,

It sounds like you want to add custom headers to requests for certain routes.

**1. I suggest using route services**
There is currently a way to do this using route services:
1. Make a route service that adds this header
2. Bind this route service to the appropriate routes

Here are some docs on route services to get you started: https://docs.cloudfoundry.org/services/route-services

[2021-04-22 15:27] #279 closed

[2021-04-22 15:28] ameowlia commented on #159
4 years later we released a PR fix from the community: https://github.com/cloudfoundry/routing-release/releases/tag/0.213.0

Thanks for your patience 😅

[2021-04-22 15:28] #159 closed

[2021-08-18 16:59] ameowlia opened #295 "httpstartstop events print incorrect information provided in headers"
### Context
When traffic goes through gorouter, there are two httpstartstop events logged. The first log is with "peerType: Server", this is when the gorouter is acting as a server to the end user. The second log is with "peerType: Client", this is when the gorouter is acting as a client to the backend app.  Both of these logs contain metadata about what app traffic is going to, including "source_

[2021-08-18 17:00] ameowlia commented on #295
Fixed this this commit: https://github.com/cloudfoundry/gorouter/commit/27f5abf44cae258e393b0fda7cdb134bd1d20208

[2021-08-18 17:00] #295 closed

[2021-10-08 18:27] rparadise opened #299 "TraceID does not comply with the w3 Standard"
https://github.com/cloudfoundry/gorouter/blob/a4fe6f37e0b2e22ae79a3b285126219a6f5dbf93/handlers/zipkin.go#L59

In the code, when a new traceID is created, it is assigned the spanID value. The spanID size is set to 8 Bytes

However, a W3 specification defines a 16-byte array format: https://www.w3.org/TR/trace-context/#trace-id

By not complying to the specification, the request trace can be broken

[2021-11-08 17:27] mariash commented on #299
Fixed in this commit: https://github.com/cloudfoundry/gorouter/commit/e5d7aab0b68ed16f3ea36caa2a739e68dc5c2779

[2021-11-08 17:27] #299 closed